.App {
  min-height: 100vh;
}

.contain__home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.contain__home h2 {
  color: rgb(255, 68, 0);
}
.contain__trainer {
  max-width: 1324px;
  padding: 1rem;
}


.form__home > button,
input {
  font-size: 20px;
  padding: 0.3rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.form__home > button {
  border-radius: 0 1rem 1rem 0;
  background-color: rgb(255, 68, 0);
  color: beige;
}

.form__home > input {
  border-radius: 1rem 0 0 1rem;
}

.footer__home {
  height: 10vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.footer__home img {
  height: 100%;
}

.img__home {
  width: 100%;
  max-width: 400px;
  max-height: 250px;
}

.header {
  width: 100%;
  overflow: hidden;
  background-color: rgb(230, 71, 32);
  height: 15vh;
}

.contain__img {
  width: 100%;
  height: 100%;
  max-width: 1324px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.contain__img > img {
  width: 100%;
}

.h1__title {
  text-align: center;
}

.span__title {
  color: rgb(230, 71, 32);
}

.contain__cards {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1324px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.poke__cards:hover {
  transform: scale(0.99);
}

.poke__cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgb(60, 59, 59);

  overflow: hidden;
}
.contain__form-select{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  line-height: 28px;
  align-items: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  max-width: 225px;
  padding: 0 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  color: #0d0c22;
  box-shadow: 0 0 5px #C1D9BF, 0 0 0 10px #f5f5f5eb;
  transition: .3s ease;
}

.plus{
  max-width: 40px;
  max-height: 30px;
  
}

.input::placeholder {
  color: #777;
}

h2,
.contain__h6,
:first-letter {
  text-transform: uppercase;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.poke__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.poke__header img {
  max-width: 420px;
}

.contain__endpoint {
  display: flex;
  flex-direction: column;
}

.contain__endpoint > ul {
  margin: 5px;
}

.contain__h6 {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  font-size: 25px;
}

.ul__poke {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
}

.li_poke {
  display: flex;
  flex-direction: column;
}

.stat__poke {
  font-weight: bold;
}

/* colores linearGradient */

.grass {
  background: linear-gradient(
    178.92deg,
    #7ec6c5 0.92%,
    #abdac6 47.96%,
    #cae099 99.08%
  );
}

.fire {
  background: linear-gradient(
    176.37deg,
    #f96d6f -32.26%,
    #e35825 22.55%,
    #e8ae1b 125.72%
  );
}

.water {
  background: linear-gradient(
    179.57deg,
    #133258 -70.14%,
    #1479fb 56.16%,
    #82b2f1 214.85%
  );
}

.bug {
  background: linear-gradient(
    177.56deg,
    #62db60 -58.92%,
    #3bb039 16.57%,
    #aaffa8 209.53%
  );
}

.normal {
  background: linear-gradient(
    181.51deg,
    #735259 -6.44%,
    #bc6b7c 121.95%,
    #7c3f4c 186.11%
  );
}

.poison {
  background: linear-gradient(
    177.03deg,
    #5b3184 -11.97%,
    #a564e3 71.28%,
    #ce9bff 135.64%
  );
}

.electric {
  background: linear-gradient(
    179.75deg,
    #0c1395 -19.96%,
    #2b319b 43.67%,
    #7075d9 138.4%
  );
}

.ground {
  background: linear-gradient(
    179.75deg,
    #654008 -19.96%,
    #895c1a 43.67%,
    #d69638 138.4%
  );
}

.fairy {
  background: linear-gradient(
    179.75deg,
    #971b45 -19.96%,
    #c23867 43.67%,
    #cd7d98 138.4%
  );
}

.fighting {
  background: linear-gradient(
    176.83deg,
    #96402a -8.78%,
    #f1613c 169.09%,
    #cb735d 242.33%
  );
}

.psychic {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}

.rock {
  background: linear-gradient(
    177.03deg,
    #7e7e7e -11.97%,
    #8d8d94 57.49%,
    #d3d3d3 135.64%
  );
}

.ghost {
  background: linear-gradient(
    177.03deg,
    #323569 -11.97%,
    #454aa8 57.49%,
    #787dda 135.64%
  );
}

.ice {
  background: linear-gradient(
    177.03deg,
    #6fbedf -11.97%,
    #64cbf5 47.77%,
    #bdebfe 136.72%
  );
}

.dragon {
  background: linear-gradient(
    179.75deg,
    #478a93 -19.96%,
    #56a4ae 43.67%,
    #a2bec1 138.4%
  );
}

.dark {
  background: linear-gradient(
    177.03deg,
    #030706 -11.97%,
    #0d1211 57.49%,
    #5a5e5d 135.64%
  );
}

.steel {
  background: linear-gradient(
    179.75deg,
    #5e736c -19.96%,
    #728881 43.67%,
    #a8a8a8 138.4%
  );
}

/* colores linearGradient */
