.App {
  min-height: 100vh;
}

.header {
  width: 100%;
  overflow: hidden;
  background-color: rgb(230, 71, 32);
  height: 15vh;
}

.contain__img {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.contain__img > img {
  width: 100%;
}

.h1__title{
    text-align: center;
}

.span__title{
    color:rgb(230, 71, 32) ;
}

.contain__cards{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 1024px;
}